<div class="dropdown header-dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a class="title is-6" href="<%= (user_signed_in? ? home_auth_path_path : '/') + "#product" %>" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Product</span>
    </a>
  </div>
</div>