<p class="notice">
  Disclaimer :<br/>
  - This version is for beta test purpose only.<br/>
  - This is an early beta release, please note some services are not yet implemented neither functional.<br/>
  - All services are free, the subscription module is not yet configured.<br/>
  - Emails module is not yet implemented. Some service may not works<br/>
  - All data, information may be lost or removed at any time without any further notice<br/>
</p>