<style>
  .app_footer {
    margin-top: auto;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .app_version, .copy {
    font-weight: 700;
    font-size: 12px;
  }

  .app_version {
    padding-left: 1.5rem;
  }
</style>
<footer class="app_footer">
  <div class="container">

    <div class="columns">
      <div class="column app_version">
        <span>unknown Analytics <%= ENV['APP_VERSION'] || 'Beta' %></span> /
        <span>Build <%= ENV['BUILD_VERSION'] || 'Beta' %></span>
      </div>

      <div class="column has-text-centered copy">
        <span translate="">unknown Analytics © 2019 - <small> <a href="https://www.380squares.xyz">380Squares</a></small> </span>
      </div>
      <div class="column has-text-right">
        <ul>
          <li>
            <a>Support</a>
            ·
            <a>Help</a>
            ·
            <a>Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>