<nav class="navbar" id="dashboard_navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= root_path %>">
          <%= render "includes/logo" %>
        </a>
      </div>
    </div>
    <div class="navbar-end">

      <%= render "includes/header/top_right_settings" %>

    </div>

  </div>
</nav>