// Place all the styles related to the dashboard/stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle-in-map {
  stroke-opacity: 0.5;
  fill-opacity: 0.5;
  //transition: stroke-dashoffset 2s ease-in;
  transition: r 1.5s ease-in;

  &:hover {
    stroke-opacity: 1;
    stroke: rebeccapurple;
    fill-opacity: 0;
  }
}