@import "components/colors";

.inline-menu-button {
  font-size: 19px;
  padding: 2px !important;
  position: relative;
  top: 2px;
  width: 29px;
  text-align: center;
  border: solid 1.5px;
  font-weight: bold;
  border-radius: 4px;
  justify-content: center;
  display: inline-flex !important;
  align-items: center;
}

.collapse-button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  .icon {
    top: 9px;
    right: 41px;
    @media only screen and (max-width: 1380px) {
      & {
        position: absolute;
        right: -14px;
        top: -4px;
      }
    }
  }
  .icon-down {
    display: none;
  }
  .icon-up {
    display: inline-block;
  }
  &.is-opened {
    .icon-down {
      display: inline-block;
    }
    .icon-up {
      display: none;
    }
  }
}

.collapsible-list {
  max-height: 0;
  overflow: hidden;
  &.is-opened {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }
}

nav.menu {
  .menu-label {
    .icon {
      --secondary: #7a7a7a;
    }
  }
  li {
    a, > span {
      .tag {
        margin-left: 10px;
        padding: 2px;
        line-height: 1;
      }
      display: flex;
      align-items: center;
      padding-left: 5px;
      .icon {
        margin-right: 3px;
      }
      &.is-active {
        background: black;
        border-radius: 0;
        color: white;
        .icon {
          --primary: white;
          --secondary: rgba(171, 179, 190, 0.93);
        }
        &::after {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $blueshine;
        }
      }
    }
  }
}
