<script type="text/x-template" id="app_component_map_choropleth_template">
  <div class="map-container w-100 is-relative" data-gradient-color="<%= %w(#00a1c9 #00c4c1 #69e1a8 #cef88f #fcea73 #f7bf47 #f09227 #e66118 #d7191c) %>">
    <span id="tooltip" style="background: #c88719; color : white;position: absolute;
      top: 0;
      right: 0; padding: 2px 3px">

    </span>
    <%= render 'shared/map_world.svg' %>
    <div class="is-flex">
      <div class="is-flex-grow-1 is-relative">

        <div style="display: none;" v-if="range > 1 && renderStyle == 'bubble'">
          <!-- you should keep the same viewbox as the main map -->
          <g :transform="'translate(300, 860)'" id="bubble_multi_circles_legend_to_clone">
            <g>
              <g v-for="i in [0, 1, 2, 3, 4, 5]" v-bind:transform="'translate( 0,' + (i/5) * 50 + ')'">
                <circle fill="transparent" v-bind:r="10 + ((i/5) * 50)"></circle>
                <line v-bind:x1="0" v-bind:y1="(10 + ((i/5) * 50))" style="stroke:black;stroke-width:1"
                      v-bind:y2="(10 + ((i/5) * 50))" x2="110"></line>
                <text class="label" v-bind:transform="'translate(110,' + (10 + ((i/5) * 50)) + ')'"
                      style="fill: black;stroke: none;font-size: 18px;">
                  {{minValue + ((range * i) / 5) }}
                </text>
              </g>
            </g>
          </g>
        </div>

        <div v-if="range == 1 && renderStyle == 'bubble'" style="display: none">
          <!-- you should keep the same viewbox as the main map -->
          <g :transform="'translate(' + legendTranslateX + ', 860)'" id="bubble_one_circle_legend_to_clone">
            <circle cx="25" fill="transparent" v-bind:r="defaultRadius"></circle>
            <text class="label" style="fill: white;stroke: black;font-size: 30px;">
              {{minValue}}
            </text>
          </g>
        </div>
        <div v-if="renderStyle == 'choropleth' && gradientColors && gradientColors.length" style="display: none">
          <g id="line_legend_to_clone" :transform="'translate(200, 980)'">
            <g v-show="range > 1">
              <text x="10" class="label" y="0" style="font-size: 40px"> {{minValue }}</text>
              <rect x="50" y="-30" width="600" height="30" fill="url(#line_gradient_legend)"></rect>
              <text x="670" class="label" y="0" style="font-size: 40px"> {{minValue
                +
                range }}
              </text>
            </g>
            <g v-show="range == 1">
              <rect x="0" y="-50" width="20" height="20"></rect>
              <text x="40" class="label" y="-30" style="font-size: 40px"> {{minValue }}</text>
            </g>
          </g>
        </div>

        <div class="is-pulled-right is-flex ">
          <input type="radio" id="one" class="mt-1 mr-1" value="choropleth" v-model="renderStyle">
          <label for="one" class="is-size-7">Choropleth</label>
          <br>
          <input type="radio" id="two" class="mt-1 mx-1" value="bubble" v-model="renderStyle">
          <label for="two" class="is-size-7">Bubble</label>
          <br>
        </div>
      </div>

    </div>
  </div>
</script>