<script type="text/x-template" id="app_component_heatmap_template">
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title is-4">Heatmap
          </div>
        </div>
      </div>
    </div>

    <div class="heatmap-months-container">

    </div>

  </div>
</script>