<script type="text/x-template" id="app_component_soon_template">
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title is-4">{{title}}
          </div>
        </div>
      </div>
    </div>

    <div>
      {{content}}
    </div>

  </div>
</script>