<div class="section">
  <div class="container">
    <div class="content">
      <h1>API</h1>
    </div>
    <div>
      <p>The Unk Web API is an interface for querying collected data and operate domains actions.</p>
      <p>What can you do with the Web API?</p>
      <ul>
        <li><a href="#basics">Web API basics</a></li>
        <li><a href="#operations">Operations</a></li>
      </ul>

      <div class="pt-4">
        <a name="basics"></a>
        <h2><strong>Basics </strong></h2>
        <p>The Web API is a collection of <a href="/methods">HTTP REST-style methods</a>, all with URLs in the form
          <code>https://unknownanalytics.com/api/ext/v1/</code>.</p>
        <p>Use HTTPS, SSL, and TLS v1.2 or above when calling all ressources.
          <a href="#ssl">Learn more about our SSL and TLS requirements</a>.</p>
        <p>Each method has a series of arguments informing the execution of your intentions.</p>
        <p>Pass arguments as:</p>
        <ul>
          <li>GET querystring parameters</li>
          <li>POST parameters presented as <code>application/json</code></li>
        </ul>
      </div>
      <div class="pt-4">
        <a name="operations"></a>
        <h2><strong>Operations </strong></h2>
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>Operation</th>
            <th class="hide_on_mobile">Description</th>
          </tr>
          <tr>
            <td class="align_top"><a href="#operation-export">export</a>
              <div class="is-hidden-tablet small">Export website views.</div>
            </td>
            <td class="is-hidden-mobile">Export website views.</td>
          </tr>
          <tr>
            <td colspan="2">
              <small>Domains</small>
            </td>
          </tr>
          <tr>

          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="pt-4">
      <p><strong>Base url</strong> <code>https://unknownanalytics.com/api/ext/v1/</code></p>
    </div>
    <div class="pt-4">
      <p><strong>Acess token</strong> </p>
    </div>

    <div class="content">

      <div class="pt-4">
        <a name="operation-export"></a>
        <p><strong>Export </strong></p>
        <ul>
          <li>
            <strong>End point</strong>: <code>/views</code>, like:
          </li>
          <li>
            <strong>Query</strong> derived from the initial variables:
            <ul>
              <li><code>$from: 'yyyy-mm-dd'</code></li>
              <li><code>$to: 'yyyy-mm-dd'</code>
              <li><code>$format: 'csv', 'json'</code></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>