<div class="container">
  <div class="content has-text-centered">
    <h1>Frequently Ask Questions</h1>
  </div>
  <h1><%= t('Subscription') %></h1>
  <div class="column is-half">
    <div class="title is-4">Can I try before I subscribe ?</div>
    <p>Yes, you have a free month subscription starting from your account creation date.</p>
    <p>Note for beta test, the service is free but many services are not functional </p>
  </div>
  <div class="column is-half">
    <div class="title is-4">I'm an ONG / a startup, if there is a subscription discount  ?</div>
    <p>Yes, you have a 50% discount in the two available plans </p>
  </div>

  <div class="column is-half">
    <div class="title is-4">I'm an ONG or a startup, if there is a subscription discount  ?</div>
    <p>Yes, you have a free month subscription starting from your account creation date.</p>
    <p>Note for beta test, the service is free but many services are not functional </p>
  </div>
  <h1><%= t('Cookies') %></h1>
  <h1><%= t('Analysis') %></h1>
  <h1><%= t('Data') %></h1>
  <div class="columns">


    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>

    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>
  </div>

</div>