<div class="section">
  <div class="container">
    <div class="content">
      <h1>Frequently Ask Questions</h1>
    </div>
    <h2 class="is-size-4"><%= t('Subscription') %></h2>
    <div>
      <div class="title is-4">Can I try before I subscribe ?</div>
      We are in beta release, the service is free but some services may not be fully functional </p>
    </div>
    <div>
      <div class="title is-4">I'm an ONG / a startup, if there is a subscription discount ?</div>
      <p>Yes, you have a 50% discount in the two available plans </p>
    </div>
    <h2><%= t('Cookies') %></h2>
    <h2><%= t('Analysis') %></h2>
    <h2><%= t('Data') %></h2>

  </div>
</div>