<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">is-two-fifth</div>
      <div class="column">
        <h4>About</h4>

      </div>
      <div class="column">
        <h4>Site Map</h4>

      </div>

      <div class="column">
        <h4>Legal</h4>

      </div>
      <div class="column">
        <h4>Contact</h4>

      </div>
    </div>
    <hr/>

    <div id="news_letter" class="has-text-centered">
      <h4 class="title is-6">Join our newsletter</h4>
      <p>Sign up for our newsletter to get news revies each week.</p>
      <input type="text" class="input">
    </div>
    <div class="columns">
      <div class="column">
        Copyrights TrackToor 2018

      </div>
      <div class="column is-pulled-right	">
        Twitter
        linkedin
      </div>
    </div>

  </div>
</footer>