<section class="hero  is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"><%= render "/welcome/new_2.svg" %></div>
        <div class="column is-two-third has-text-centered">
          <h1 class="title">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>