<section class="hero  is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-third">
                    <h1 class="title">
                        Hero title
                    </h1>
                    <h2 class="subtitle">
                        Hero subtitle
                    </h2>
                </div>
                <div class="column"><%= render "/welcome/new.svg" %></div>
            </div>

        </div>
    </div>
</section>