<div class="section">
  <div class="container">
    <h3 class="title">
     Technical stack
    </h3>
    <p class="content is-info">
      Behind this website, there are a lot of awesome tools and framework that helps us bring our services.
    </p>
    <div class="content is-medium">
      <h5>Ruby on Rails ❤️❤️❤️</h5>
      <p>Despite what the web industry says about RoR we still love this fantastic framework and all it's ecosystem.</p>
    </div>
    <div class="content is-medium">
      <h5>Golang ❤️❤️❤️</h5>
      <p>Yes it's a blazing. </p>
    </div>
    <div class="content is-medium">
      <h5>Nodejs ❤️❤️❤️</h5>
      <p>Our nice friend. </p>
    </div>

    <div class="content is-medium">
      <h5>Postgres ❤️❤️❤️</h5>
      <p>Respect with love ! </p>
    </div>

    <div class="content is-medium">
      <h5>Nginx ❤️❤️❤️</h5>
      <p>Respect ! </p>
    </div>

    <div class="content is-medium">
      <h5>Sideqik ❤️❤️❤️</h5>
      <p>Yes ! </p>
    </div>
    <div class="content is-medium">
      <h5>Vue.js ❤️❤️❤️</h5>
      <p>We have worked and still working with vanilla js, jquery, angular, react but when we should pick one, this is
        absolutely will be vue.js </p>
    </div>

    <div class="content is-medium">
      <h5>Redis ❤️❤️❤️</h5>
      <p>Spectacularly fast, plus pub/sub</p>
    </div>

    <div class="content is-medium">
      <h5>Docker ❤️❤️❤️</h5>
      <p>Sure .</p>
    </div>

    <div class="content is-medium">
      <h5>Others ❤️❤️❤️</h5>
      <p>We use many other awesome tools such Devise, Chartjs, echarts, pueppetter </p>
    </div>

  </div>
</div>