<style>
    #open_source_page p {
        margin-bottom: 1rem;
    }
</style>
<div class="section" id="open_source_page">
  <div class="container">
    <h5 class="title">
      Technical stack
    </h5>

    <h2 class="title">
      Open source
    </h2>
    <p>
      Unknown Analytics is fully open source, check the code source here. Some things has been changed in between, we
      will try to update all information about all the application component.
      Check the code source <a href="https://gitlab.com/unknown-inc/web-app">here</a> which contains the server code and
      the the client sdk.
    </p>
    <h2 class="title">
      Credits
    </h2>
    <p class="content is-info">
      Behind this website, there are a lot of awesome tools and framework that we use to bring you our services.
    </p>
    <div class="content is-medium">
      <h5>Ruby on Rails </h5>
      <p>Despite what the web industry says about RoR, we still love this fantastic framework and all it's
        ecosystem.</p>
    </div>
    <div class="content is-medium">
      <h5>Vue.js </h5>
      <p>We have worked and still working with vanilla js, jquery, angular, react but when we should pick one, it is
        absolutely vue.js </p>
    </div>

    This app wouldn't be made easy without these tools.
    <br/>
    <br/>
    <div class="content is-medium">
      <h5>Sidekiq </h5>
      <h5>Postgres </h5>
      <h5>Dcoker </h5>
      <h5>Devise </h5>
      <h5>Chartjs </h5>
      <h5>eCharts </h5>
      <h5>Rollup </h5>
      <h5>Redis </h5>
      <h5>Bulma </h5>

    </div>


  </div>
</div>