<style>
  #open_source_page p {
    margin-bottom: 1rem;
  }
</style>
<div class="section" id="open_source_page">
  <div class="container">
    <h1 class="title">
      Technical stack
    </h1>

    <h2 class="title">
      Open source
    </h2>
    <p>
      Unknown Analytics is fully open source , check the code source here. Some things has been changes in between, we
      will try to update all information about the application parts.
      For now, we have the <a href="https://gitlab.com/unknown-inc/web-app">main server repository</a> and
      <a href="https://gitlab.com/unknown-inc/web-sdk-client">the client sdk</a>.
    </p>
    <h2 class="title">
      Tools we use to build the app
    </h2>

    <p class="content is-info">
      Behind this website, there are a lot of awesome tools and framework that we use to bring you our services.
    </p>
    <div class="content is-medium">
      <h5>Ruby on Rails </h5>
      <p>Despite what the web industry says about RoR we still love this fantastic framework and all it's ecosystem.</p>
    </div>

    <div class="content is-medium">
      <h5>Postgres </h5>
      <p>Respect with love ! </p>
    </div>

    <div class="content is-medium">
      <h5>Nginx </h5>
      <p>Respect ! </p>
    </div>

    <div class="content is-medium">
      <h5>Redis </h5>
      <p>Spectacularly fast, plus pub/sub</p>
    </div>
    <div class="content is-medium">
      <h5>Sideqik </h5>
      <p>Yes ! </p>
    </div>
    <div class="content is-medium">
      <h5>Vue.js </h5>
      <p>We have worked and still working with vanilla js, jquery, angular, react but when we should pick one, this is
        absolutely will be vue.js </p>
    </div>


    <div class="content is-medium">
      <h5>Docker </h5>
      <p>Sure .</p>
    </div>

    <div class="content is-medium">
      <h5>Others </h5>
      <p>We use many other awesome tools such Devise, Chartjs, echarts, pueppetter </p>
    </div>

  </div>
</div>