<div class="section">
  <div class="container">
    <h3 class="title">
      Stack
    </h3>
    <div class="content is-medium">
      <h1>Ruby on Rails ❤️❤️❤️</h1>
      <p>Despite what the web industry says about RoR we still love this fantastic framework and all it's ecosystem.</p>
    </div>
    <div class="content is-medium">
      <h1>Golang ❤️❤️❤️</h1>
      <p>Yes it's a blazing tool. </p>
    </div>
    <div class="content is-medium">
      <h1>Node js ❤️❤️❤️</h1>
      <p>Yes it's a blazing tool. </p>
    </div>

    <div class="content is-medium">
      <h1>Postgres ❤️❤️❤️</h1>
      <p>Respect ! </p>
    </div>

    <div class="content is-medium">
      <h1>Nginx ❤️❤️❤️</h1>
      <p>Respect ! </p>
    </div>

    <div class="content is-medium">
      <h1>Sideqik ❤️❤️❤️</h1>
      <p>Yes ! </p>
    </div>
    <div class="content is-medium">
      <h1>Vuejs ❤️❤️❤️</h1>
      <p>We have worked and still working with vanilla js, jquery, angular, react but when we should pick one, this is
        absolutely will be vuejs </p>
    </div>

    <div class="content is-medium">
      <h1>Redis ❤️❤️❤️</h1>
      <p>Spectacularly fast, plus pub/sub</p>
    </div>

    <div class="content is-medium">
      <h1>Docker ❤️❤️❤️</h1>
      <p>Sure .</p>
    </div>

    <div class="content is-medium">
      <h1>Others ❤️❤️❤️</h1>
      <p>We use many other awesome tools such Devise, Chartjs, echarts, pueppetter </p>
    </div>

    <h3 class="title">
      Credits
    </h3>


    - NistDB

    - Simplemaps.com

  </div>
</div>