<div class="section" id="privacy">
  <div class="container">
    <h1 class="is-size-3  has-text-weight-bold">
      Privacy policy
    </h1>

    <p>At unknownanalytics, accessible from http://unknownanalytics.com, one of our main priorities is the privacy of
      our
      visitors. This Privacy Policy document contains types of information that is collected and recorded by
      unknownanalytics and how we use it.
      <br/>
      If you have additional questions or require more information about our Privacy Policy, do not hesitate to
      contact
      us
      through email at fathallah.houssem@gmail.com</p>

    <h2 class="is-size-4 has-text-weight-bold"> Log Files</h2>

    <p>unknownanalytics follows a standard procedure of using log files. The information collected by
      log files
      include internet protocol (IP) addresses, browser type. These are not linked to
      any information that is
      personally identifiable. The purpose of the information is for administering the site, prevent attacks &
      analyzing bugs. </p>

    <h2 class="is-size-4  has-text-weight-bold">Cookies and Web Beacons </h2>
    <strong>
      On this website http://unknownanalytics.com
    </strong>

    <p>We use cookie session id to keep you connected to the server. This information is only to keep the session
      active during your usage of our services. You can choose to disable cookies through your individual browser
      options.</p>
    <p>This website use itself for analytics, so we apply the same <a href="#on_your_website"> rules to us (below)</a> .
    </p>
    <a name="on_your_website"></a>
    <strong>
      On your web site (where you install our sdk)
    </strong>
    <p>The js sdk installed on your website used to collect page information, performance statistics, user agent and ip
      address . <a href="#data_details"> See details below </a>.</p>
    <p>For this purpose we use beacons to push data as fast as possible.
      <strong>We do not store any kind of data in your website</strong>.</p>

    <h2 class="is-size-4  has-text-weight-bold">Data</h2>
    <a name="data_details"></a>
    <p>What kind of data we store : </p>
    <ul>
      <li>
        <strong>
          From you :
        </strong>
      </li>
      <li>
        your email
      </li>

      <li>
        your hashed password
      </li>

      <li>
        Your billing information * This feature is not active yet. So we don't ask for your data.
      </li>
      <li>
        <strong>
          From your users :
        </strong>
      </li>
      <li>
        Url of page visited
      </li>
      <li>
        User agent of the user device
      </li>
      <li>
        Performance information
      </li>
      <li>
        Country of ip request (only when geo is activated)
      </li>
    </ul>
    <h2 class="is-size-4  has-text-weight-bold">Geo analytics</h2>

    <p>This is an option that is disabled by default and you can activate it.
      Once activated, we use the ip address of the user to identify the country and let you know the sources of your
      users. </p>
    <h2 class="is-size-4  has-text-weight-bold">Third party Integration </h2>

    <ul>
      <li>
        * Payment service
      </li>
      <li>
        * Email service
      </li>
    </ul>

  </div>
</div>
