<div class="section">
  <div class="container">
    <div class="container">
      <h3 class="title">
        Privacy policy
      </h3>

      <p>At unknownanalytics, accessible from http://unknownanalytics.com, one of our main priorities is the privacy of
        our
        visitors. This Privacy Policy document contains types of information that is collected and recorded by
        unknownanalytics and how we use it.</p>

      <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to
        contact
        us
        through email at fathallah.houssem@gmail.com</p>

      <h1 class="title  is-4">Log Files</h1>

      <p>unknownanalytics follows a standard procedure of using log files. These files log visitors when they visit
        websites. All hosting companies do this and a part of hosting services' analytics. The information collected by
        log files
        include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP). These are not linked to
        any information that is
        personally identifiable. The purpose of the information is for analyzing bugs, administering the site.</p>

      <h1 class="title  is-4">Cookies and Web Beacons</h1>

      <p>We use cookie session id to keep you connected to the server. This information is only to keep the session
        active during your usage of our services </p>

      <p>You can choose to disable cookies through your individual browser options. To know more detailed information
        about
        cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are
        Cookies?</p>

      <p>We do not use web beacons. </p>

      <h1 class="title is-4">Third party Ad </h1>

      <p>We do not use any third-party ad provider.</p>

    </div>
  </div>
</div>