<section id="pricing">
  <div class="container">
    <h1>Pricing</h1>
    <div class="columns">

      <div class="column">
        <h4 class="plan-header">Pro</h4>
        <div class="plan-price">
          <span class="plan-price-amount"><span class="plan-price-currency">$</span>6.99</span>/mo
        </div>
        <div class="plan-items">
          <div class="plan-item">Unlimited domains</div>
          <div class="plan-item">6 months Storage</div>
          <div class="plan-item">Export data</div>
          <div class="plan-item">5 admins</div>
          <div class="plan-item">Real time (100 sessions max)</div>
          <div class="plan-item">-</div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth" disabled="disabled">Current plan</button>
        </div>
      </div>

      <div class="column is-warning">
        <div class="plan-header">Pro ++</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>12</span>/month
        </div>
        <div class="plan-items">
          <div class="plan-item">20GB Storage</div>
          <div class="plan-item">Unlimlited domain Domains</div>
          <div class="plan-item">1TB Bandwidth</div>
          <div class="plan-item">-</div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth">Choose</button>
        </div>
      </div>


      <div class="column is-danger">
        <div class="plan-header">Custom</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth">contact us</button>
        </div>
      </div>

    </div>
  </div>
</section>