<div class="section" id="privacy">
  <div class="container">
    <h1 class="is-size-3  has-text-weight-bold">
      Privacy policy
    </h1>

    <p>At unknownanalytics, accessible from http://unknownanalytics.com, one of our main priorities is the privacy of
      our
      visitors. This Privacy Policy document contains types of information that is collected and recorded by
      unknownanalytics and how we use it.
      <br/>
      If you have additional questions or require more information about our Privacy Policy, do not hesitate to
      contact
      us
      through email at fathallah.houssem@gmail.com</p>

    <h2 class="is-size-4 has-text-weight-bold"> Log Files</h2>

    <p>unknownanalytics follows a standard procedure of using log files. These files log visitors when they visit
      websites. All hosting companies do this and a part of hosting services' analytics. The information collected by
      log files
      include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP). These are not linked to
      any information that is
      personally identifiable. The purpose of the information is for administering the site, prevent attacks &
      analyzing bugs. </p>

    <h2 class="is-size-4  has-text-weight-bold">Cookies and Web Beacons </h2>

    <h3 class="is-size-5">On our website http://unknownanalytics.com</h3>

    <p>We use cookie session id to keep you connected to the server. This information is only to keep the session
      active during your usage of our services
      <br/>
      You can choose to disable cookies through your individual browser options.</p>

    <p>This website use itself for analytics, so we apply the same <a href="#on_your_website">rules as on your
      website</a> . </p>
    <a name="on_your_website"></a>
    <h3 class="is-size-5">On your web site (where you install our sdk)</h3>
    <p>We use this sdk to collect page views, performance statistics, user devices and all the metrics that we
      serve.</p>
    For this purpose we use beacon to make things as faster as possible.
    We do not store any kind of data in your users website.
    <h2 class="is-size-4  has-text-weight-bold">Third party Integration </h2>

    <p>We do not use any third-party ad provider.</p>

  </div>
</div>
