<script type="text/x-template" id="app_dashboard_events_template">
  <div>
    <app-v-soon title="Events" content="This feature helps you identify some events triggered by users such as clicks, hover ... (no code require)."></app-v-soon>
  </div>
</script>