<script type="text/x-template" id="app_dashboard_export_template">
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title is-4">Reports
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2">
      This feature lets you create custom reports with multiple charts and insights.
      You can then select the exact time of the day, and day of the week to receive the report.
      <br/>
      <strong class="has-text-weight-bold">We strive to bring this feature to unk before the end of january.</strong> <%= link_to 'Try pdf export', '/dashboard' %>
    </div>
  </div>
</script>