
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/droppable.js"></script>

<script type="text/x-template" id="app_dashboard_export_template">
  <section id="UniqueDropzone">
    <article class="BlockLayout BlockLayout--typeFlex">
      <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied" data-dropzone="1">

      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied" data-dropzone="2">

      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied" data-dropzone="4">

      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone draggable-dropzone--occupied" data-dropzone="8">

      </div>
    </article>

    <article class="BlockLayout BlockLayout--typeGrid">
      <div class="BlockWrapper BlockWrapper--isDropzone" data-dropzone="1">
        1
      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone" data-dropzone="2">
        2
      </div>
      <div class="BlockWrapper">
        2
      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone" data-dropzone="4">
      </div>
      <div class="BlockWrapper">
      </div>
      <div class="BlockWrapper">
      </div>
      <div class="BlockWrapper">
      </div>
      <div class="BlockWrapper BlockWrapper--isDropzone" data-dropzone="8">
      </div>
    </article>
  </section>
</script>