<script type="text/x-template" id="app_dashboard_geo_vue_template">
  <div>
    <div>
      <span class="title is-size-5"> Geo </span>
      <div class="is-pulled-right">
        <div class="field is-horizontal">
          <div class="field-body">
            <%= render :partial => 'includes/select_period_inputs', :locals => {
                :startEvent => 'onChangeStartDate($event)',
                :endEvent => 'onChangeEndDate($event)',
            } %>
            <div class="field-label is-normal">
              <label class="label" for="filter_by">by</label>
            </div>

            <div class="field">
              <p class="control">
                <select id="filter_by" class="select is-small">
                  <option selected="selected">Referrals</option>
                  <option>Pages</option>
                  <option>Devices</option>
                </select>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-v-choropleth-chart :data="data"></app-v-choropleth-chart>
  </div>

</script>

