<script type="text/x-template" id="app_dashboard_heatmaps_template">
  <div>
    <app-v-soon title="Heatmaps" content="This feature helps you identify where and how users navigate and scroll inside a web page."></app-v-soon>
  </div>
</script>

