<script type="text/x-template" id="app_dashboard_views_template">
  <div>
    <div class="panel">
      <div class="panel-heading">
        Pages : {{stats.pagesCount}}

        <div class="is-pulled-right">
          <select>
            <option selected="selected">Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
          </select>
        </div>

      </div>

      <div class="panel-block">
        <canvas id="canvas_views_stats" width="400" height="250"></canvas>
      </div>
    </div>
  </div>
</script>

