$grey: #cccccc;
$primary: #276cda;
$bluegrey: #5e5d92;
$blueshine: #48B3FF;
$bluesky: #b1c1f2;
$orange: #ff7007;
$primary-start-gradient: #ffa4bc;
$primary-end-gradient: #ffbe88;

$primary-icon: #A5B3BB;
$secondary-icon: #0D2B3E;

$glight: #F5F5F5;

$c: ('#ff7007', '#ffa4bc', '#ffbe88', '#0D2B3E', '#cccccc', '#276cda', '#48B3FF', '#b1c1f2')