
.devise-container {
  height: 100vh;
  &, .devise-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .devise-content {
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    .devise-inner-content {
      max-width: 390px;
      border-radius: 10px;
      border: solid 1px;
      padding: 15px;
      h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
      form {
        margin: auto;
        .field {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
