@import "colors";

@import "colors";
// https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
svg.icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  fill: red;
  use {
    fill: $bluegrey;
    color: white;
    svg path {
      all: inherit;
    }
    &.accent {
      fill: blue;
      color: red;
    }
  }
}
