// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/colors";
@import "components/mixins";

#dashboard_navbar {
  border-bottom: 3px solid hsla(227, 38%, 84%, 0.26);
}

#overview_container {
  .heading {
    border: none;
    @include small-tag;
    align-items: center;
    a {
      font-size: 14px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary;
      .icon {
        width: 20px;
        height: 20px;
        --primary: #{$primary};
        --secondary: #{$primary};
      }
    }
  }
  select {
    max-width: 180px;
  }
}