body {
  font-family: 'Rubik', sans-serif;
}

[v-cloak] > * {
  display: none !important;
}

[v-cloak]::before {
  content: "loading…"
}

.button {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

a.action {
  display: flex;
  align-items: center;
}

.is-relative {
  position: relative;
}

.code {
  background-color: #211999;
  padding: 0 3px;
  border-radius: 2px;
  color: white;
  font-size: .8rem;
  font-family: monospace;
  .attr-name {
    color : #00b89c;
  }
  .attr-value {
    color : #d9aa40;
  }
}