body {
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

[v-cloak] > * {
  display: none !important;
}

[v-cloak]::before {
  content: "loading…"
}

.button {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

a.action {
  display: flex;
  align-items: center;
}

.is-relative {
  position: relative;
}

.code {
  background-color: #131313b0;
  padding: 3px 11px;
  border-radius: 2px;
  color: white;
  font-size: .8rem;
  font-family: monospace;
  .attr-name {
    color: #00b89c;
  }
  .attr-value {
    color: #d9aa40;
  }
}

.w-100 {
  width: 100%;
}