$blue: #A5B3BB;
.navbar-link {
  color: $blue;
  &.top-header-notifications {
    padding-right: .75rem !important;
    &::after {
      display: none !important;
    }
    svg.icon {
      --primary: #e3dfdb;
      --secondary: #7a7a7a;
    }

    &.has-notifications {
      // http://www.javascriptkit.com/dhtmltutors/css3-animation-swing.shtml
      @-webkit-keyframes swinging {
        0% {
          -webkit-transform: rotate(10deg);
        }
        50% {
          -webkit-transform: rotate(-5deg)
        }
        100% {
          -webkit-transform: rotate(10deg);
        }
      }
      @keyframes swinging {
        0% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(-5deg)
        }
        100% {
          transform: rotate(10deg);
        }
      }
      svg.icon {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-animation: swinging .5s ease-in-out forwards infinite;
        animation: swinging .5s ease-in-out forwards infinite;
        --secondary: red;
      }
    }
  }
  &:not(.is-arrowless)::after {
    border-color: #A5B3BB !important;
  }
}

#navbar_header_form_container {
  padding: 2px 20px;
  display: flex;
  flex-direction: column;
  input {
    width: 380px;
    border: solid 1px #d4d4e5;
    box-shadow: none;
    border-radius: 4px;
    margin-top: 12px;
  }
  .icon {
    color: #dbdbdb;
    height: 2em;
    top: 7px;
    width: 1.25em;
    z-index: 4;
    left: 5px;
    --secondary: #7a7a7a;
    --primary: transparent;
  }
  #autocomplete {
    width: 380px;
    padding-left: 38px;
    border: 1px solid #ccc;
    border-top: 0 rgb(204, 204, 204);
    border-radius: 0 0 3px 3px;
    top: 38px;
    position: absolute;
    background: white;
    .entry {
      padding: 2px 0;
      margin: 5px 0;
    }
    .match {
      color: maroon;
      font-weight: bold;
    }
    .active {
      font-weight: bold;
    }
  }
}
