// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#pricing {
  .box {
    position: relative;
    overflow: hidden;
    min-height: 320px;
    &.essentials {
      box-shadow: 0 2px 3px rgba(186, 198, 242, 0.27), 0 0 0 1px rgba(186, 198, 242, 0.26);
      .call-action {
        background-color: $bluesky;
      }
    }

    &.deeper {
      box-shadow: 0 2px 3px rgba(32, 156, 238, 0.27), 0 0 0 1px rgba(32, 156, 238, 0.26);
      margin-left: -35px;
      position: relative;
      z-index: 1;
      margin-right: -40px;
      top: -32px;
      height: 380px;
      .call-action {
        background-color: white;
      }
    }

    svg {
      position: absolute;
      right: -10px;
      top: -9px;
      width: 40px;
      height: 40px;
      /* background: red; */
    }

  }
  .plan-header {

  }
  .plan-footer {
    margin: 20px;
  }
  .plan-price {
    display: flex;
    justify-content: center;
    color: $bluegrey;
    font-weight: 500;
    .plan-price-amount {
      font-size: 24px;
    }
    .plan-price-currency {
      font-size: 16px;
    }
    .duration {
      display: flex;
      align-items: center;
    }
  }
  .features {
    &.features-entry {
      text-align: center;
    }
    & > div {
      height: 50px;
      padding: 4px;
      font-weight: bold;

      &.check {
        color: green;
        font-size: 18px;
      }
    }
  }
}

.header-dropdown {
  ::before {

  }
  .box {
    padding: 0;
    left: -45%;
    position: relative;
    top: 14px;
    &::after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
    }
  }
  .features-navbar-body {
    height: 281px;
    width: 589px;
    .features-items {
      .feature-item {

      }
    }
  }
  .features-navbar-footer {
    background: #bac5f4;
    height: 120px;

  }
  .features-navbar-body, .features-navbar-footer {
    padding: 20px 20px;
  }
}

#news_letter {
  width: 100%;
  height: 324px;
  padding: 30px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
    background-image: url("/assets/map.svg");
  }
  .title {
    font-weight: 600;
    margin-bottom: 11px;
  }
  input {
    max-width: 304px;
    top: 22px;
    box-shadow: none;
    border: solid 1px $bluesky;
  }
}

footer {
  padding-bottom: 0 !important;
}

#hero_container {
  position: relative;
  overflow: hidden;
  background-image: url("/assets/stats_bg_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  .buttons {
    margin-top: 40px;
    .button {
    }
  }
  .box {
    padding: .5rem .5rem 1rem;
    h1 {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: .5rem;
      display: flex;
      align-items: center;
      color: white;
      .icon {
        margin: 5px 5px 5px 0;
      }
    }
    polyline {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  #box_3 {
    #hero_events_chart circle {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }
  }

  #box_1, #box_3, #box_2 {
    background: $bluesky;
  }

  #box_2 {
    #map {
      height: 173px;
      text-align: center;
      overflow: hidden;
      left: -.5rem;
      position: relative;
      background: white;
      width: inherit;
      right: -5.5rem;
      top: 5px;
      border-bottom-left-radius: 6px;;
      border-bottom-right-radius: 6px;;
      svg {
        transform: translateX(-5px);
        zoom: 0.16;
        margin: auto;
        // firefox
        -moz-transform: scale(0.15) translate(-282%, -290%);
      }
    }
  }
  @media (min-width: 768px) {
    //CSS
    #box_1 {
      position: absolute;
      top: -140px;
      right: 120px;
    }
    #box_3 {
      position: absolute;
      top: 60px;
      right: 120px;
    }
    #box_2 {
      top: -51px;
      position: absolute;
      right: -30px;
      height: 228px;
    }
    #box_1, #box_2, #box_3 {
      width: 320px;

    }
  }
  .title {
    font-weight: 700;
  }
  .subtitle {
    color: hsl(201, 23%, 34%);
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
  }
}

.app-warning {
  height: 200px;
  padding: 10px 0;
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

#features_container {
  position: relative;
  background-image: linear-gradient(#3763ff, $primary);

  .box {
    box-shadow: 0 3rem 3rem -1rem rgba(10, 10, 10, .2);
    max-width: 520px;
    padding: 3rem;
    position: relative;
    .tag {
      position: absolute;
      top: .5rem;
      left: -8px;
      background: $bluesky;
      color: white;
    }
  }
}

svg {
  #board {
    .line-chart {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: line-chart-dash 5s linear forwards;
    }

    @keyframes line-chart-dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}

footer.footer {
  background: ghostwhite;
  color: black;
  .columns {
    z-index: 1;
  }

  a, h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  .made-in-tunisia {
    background: url("/assets/Flag_of_Tunisia.svg");
    width: 32px;
    height: 24px;
    background-size: 32px 24px;
    border: none;
    top: 6px;
    left: 2px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
  }
}

.heatmap-image {
  margin: auto;
  border: solid 1px;
  filter: blur(2px);
}

.heatmap-mobile {
  width: 384px;
  height: auto;
}

.heatmap-desktop {
  width: 384px;
  height: auto;
}