<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
<section id="pricing" class="hero">

  <script>hljs.initHighlightingOnLoad();</script>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Documentation</h1>
      <div class="columns">
        <div class="column">

        </div>
        <div class="column ">

          <pre><code class="javascript">
          hjls.isNot();
          </code></pre>

        </div>

      </div>
    </div>
  </div>
</section>