<style>
  #sdk_integration .subtitle {
    text-decoration: underline;
  }
</style>
<section id="sdk_integration" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Documentation</h1>
      <div>
        <h1 class="subtitle ">I - In unk dashboard</h1>
        <h2>1- Configure domain</h2>
        <h2>2- Set up allowed origins</h2>
        <h2>3- Create your api key </h2>
        <br/>
        <h1 class="subtitle"> II - In your application (web site)</h1>
        <h2>4- Include the js script</h2>
        <span class="code">&lt;script <span class="attr-name">src</span>="<span class="attr-value">https://www.unknownanalytics.com/sdk.js</span>"&gt;&lt;/script&gt;</span>
        <br/>* If you apply a
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"><span class="code">Content-Security-Policy</span></a>
        constraints,
        you can download the js file and serve it from your own server.
        <h1>5- Init the client app instance with your api key </h1>
        <span class="code"><span class="attr-value">unkAnalytics</span>(&lt;your_api_key&gt;);</span>
      </div>
      <br/>

      <a href="guide#doc_getting_started">See full documentation here</a>
    </div>
  </div>
</section>