<section id="pricing" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Configuration </h1>
      <div>
        <h1>1- Configure domain</h1>
        <h1>2- Set up allowed origin</h1>
        <h1>3- Create an api key </h1>
        <h1>4- Include the js script</h1>
        <span class="code">&lt;script <span class="attr-name">src</span>="<span class="attr-value">https://cdn.unknownAnalytics.com/ping.js</span>"&gt;&lt;/script&gt;</span>
        if you are using a
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP"><span class="code">Content-Security-Policy</span></a>,
        you can download the js file and serve it from your own serve
        <h1>4- Init the client app instance </h1>
        <span class="code">unknown('ys4SCznNV00piV007n4AuA');</span>
      </div>
    </div>
  </div>
</section>