<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column content is-small">
        <h1>Social </h1>
        <h4>Blog</h4>
        <a>Twitter</a><br/>
        <a>linkedin</a><br/>
        <a>Github</a><br/>
        <h4>Contact</h4>
      </div>
      <div class="column content is-small">

        <h1>Features</h1>
        <h4>* Page views</h4>
        <h4>* Geo partitpion</h4>
        <h4>* Heat map</h4>
        <h4>* Data export </h4>
        <h4>* Realtime notification</h4>

      </div>
      <div class="column content is-small">
        <h1>Resources</h1>
        <h4>Getting started</h4>
        <h4>User guides</h4>
        <h4>FAQ</h4>
        <h4>Api</h4>
        <h4><%= link_to t("Open source"), public_pages_path(:page => 'open-source') %></h4>
      </div>

      <div class="column content is-small">
        <h1>Leagal </h1>
        <a>Cookie Policy</a><br/>
        <a>Privacy Policy</a>
        <h1>About us</h1>
        <h1>Values</h1>
      </div>
    </div>
    <hr/>

    <div id="news_letter" class="has-text-centered">
      <h4 class="title is-6">Join our newsletter</h4>
      <p>Sign up for our newsletter to get news revies each week.</p>
      <input type="text" class="input">
    </div>
    <div class="column content is-small">
      <div class="column content is-small has-text-centered">
        © 2019 Unknown Analytics , Made in
        <div class="made-in-tunisia"></div>
      </div>
    </div>
  </div>
</footer>