<style>
  #plugins svg {
    width: 104px;
    height: 104px;
    margin: 10px;
    --primary: indianred;
    top: 4px;
    position: relative;
  }
</style>
<!--<section class="section is-medium" id="plugins">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title is-2"><%#= t('welcome.custom_integration') %></h2>
      <h3 class="subtitle is-5 is-muted">extend your analytics with custom integrations</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div>
              <span class="shadow-text-bottom">E commerce</span>
            </div>
            <div class="card-icon">
              <%#= render :partial => 'shared/icon', :locals => {:icon => 'icon-shopping-cart'} %>
            </div>
            <div class="card-text">
              <p>Expend your e-shop analysis with custom details and metrics</p>
            </div>

          </div>
        </div>
        <div class="column">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
            <div>
              <span class="shadow-text-bottom">Custom formatting</span>
            </div>
            <div class="card-icon">
              <%#= render :partial => 'shared/icon', :locals => {:icon => 'icon-tune'} %>
            </div>
            <div class="card-text">
              <p>Customise your exported data so you cas explore it at your own way </p>
            </div>

          </div>
        </div>
        <div class="column">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
            <div>
              <span class="shadow-text-bottom">Plugins</span>
            </div>
            <div class="card-icon">
              <%#= render :partial => 'shared/icon', :locals => {:icon => 'icon-brick'} %>
            </div>
            <div class="card-text">
              <p>Plug your data with external data points (cloud, dumps ...) </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->