<section id="pricing" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Pricing</h1>
      <div class="columns">
        <div class="column">

        </div>
        <div class="column ">
          <div class="box essentials">
            <%= render :partial => '/includes/svg_dynamic_circle', :locals => {:color => '#bac5f4'} %>
            <h4 class="subtitle has-text-centered">Essentials</h4>
            <div class="plan-price">
              <span class="plan-price-currency">$</span><span class="plan-price-amount">6.99</span>
              <div class="duration">/mo</div>
            </div>
            <div class="plan-items">
              <div class="plan-item">100 K views</div>
              <div class="plan-item">5 domains</div>
              <div class="plan-item">6 months Storage</div>
              <div class="plan-item">3 admins</div>
              <div class="plan-item">Real time interactions (10 sessions max)</div>
            </div>
            <div class="plan-footer">
              <button class="is-link is-fullwidth button"><%= t('Free trial') %></button>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="box deeper">
            <%= render :partial => '/includes/svg_dynamic_circle', :locals => {:color => 'red'} %>
            <h4 class="subtitle has-text-centered">Business</h4>
            <div class="plan-price">
              <span class="plan-price-currency">$</span><span class="plan-price-amount">12</span>
              <div class="duration">/mo</div>
            </div>
            <div class="plan-items">
              <div class="plan-item">500 K views</div>
              <div class="plan-item">10 domains</div>
              <div class="plan-item">1 year storage ( + data Export as csv, pdf )</div>
              <div class="plan-item">10 admins</div>
              <div class="plan-item">Real time interactions (30 sessions max)</div>
            </div>
            <div class="plan-footer">
              <a class="is-link is-fullwidth button"><%= t('Free trial') %></a>
            </div>
          </div>

        </div>

      </div>


      <div class="columns">
        <div class="column features">
          <div>Usage</div>
          <div>Encryption</div>
          <div>Page analytics (views, devices screen sizes)</div>
          <div>Admins</div>
          <div>Domains</div>
          <div>Geo distribution *</div>
          <div>Charts</div>
          <div>Heatmaps *</div>
          <div>Real time Notifications *
            <div class="tag">experimental</div>
          </div>

          <div>UI testing *
            <div class="tag tag-danger">soon</div>
          </div>
          <div>Data Export & reports</div>

          <div>Funnels
            <div class="tag  tag-danger">soon</div>
          </div>
          <div>Support</div>
        </div>

        <div class="column features features-entry">
          <div>up to 200K views (all domains)</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>
          <div>3</div>
          <div>3</div>
          <div>up to 5 simultaneous sessions</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>
          <div>&#215;</div>
          <div>&#215;</div>
          <div>
            <div class="tag"> HTML</div>
          </div>
          <div>&#215;</div>
          <div>8/5</div>
        </div>
        <div class="column features features-entry">
          <div>up to 500K views (all domains) *</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>
          <div>5</div>
          <div>10</div>
          <div>up to 15 simultaneous sessions</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>
          <div class="check">&#10004;</div>

          <div>
            <div class="tag">PDF</div>
            <div class="tag">XSLT</div>
            <div class="tag">EMAIL</div>
            <small>All formats are encrypted *</small>
          </div>

          <div class="check">&#10004;</div>
          <div>8/5</div>
        </div>
      </div>
      <p class="control has-text-centered">
        <a href="https://www.patreon.com/jgthms" class="button is-link is-warning reg" target="_blank">
          ONG or Startup 50% cut off
        </a>
        <a href="https://www.patreon.com/jgthms" class="button is-link is-info is-bold" target="_blank">
          Need Custom features , let's talk
        </a>
      </p>
    </div>
  </div>

</section>