<section id="pricing" class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Pricing <span class="tag is-danger">Free in beta !</span></h1>
      <table class="table table-bordered is-striped is-fullwidth">
        <thead>
        <tr>
          <th>
            <div>Features</div>
          </th>
          <th>
            <div class="has-text-weight-bold is-size-4">Essential</div>
            <div class="has-text-danger">8€/month</div>
            <p class="p-2">
              100k page views <br/>
              3 domains <br/>
              6 months data retention <br/>
            </p>
          </th>
          <th>
            <div class="has-text-weight-bold is-size-4">Plus</div>
            <div class="has-text-danger">12€/month</div>
            <p class="p-2">
              200k views <br/>
              8 domains <br/>
              12 months data retention <br/>
            </p>
          </th>
          <th>
            <div class="has-text-danger is-size-4">Enterprise</div>
            <%= link_to "Contact us", contact_path(subject: "[Business]"), class: "button has-text-danger is-small" %>
            <p class="p-2">
              Unlimited views <br/>
              Unlimited domains <br/>
              Unlimited data retention <br/>
            </p>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>Page analytics <br/>
              <small>(views, devices, utm campaigns, referrals)</small>
              <br/>
            </div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
          <td>

            <div class="check">&#10004;</div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Geo analytics</div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Performance</div>
          </td>
          <td>
            <div class="check">&#10004;</div>
          </td>
          <td>

            <div class="check">&#10004;</div>
          </td>
          <td>

            <div class="check">&#10004;</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Domains</div>
          </td>
          <td>
            3 domains
          </td>
          <td>
            8 domains
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            <div>Reports</div>
          </td>
          <td>
            1 / day
          </td>
          <td>
            3 / day
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            <div>Data retention</div>
          </td>
          <td>
            6 months
          </td>
          <td>
            12 months
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            <div>Api</div>
          </td>
          <td>
            1k call
          </td>
          <td>
            3k call
          </td>
          <td>
            Unlimited
          </td>
        </tr>
        <tr>
          <td>
            <div>Support (h/days in week)</div>
          </td>
          <td>
            4/5
          </td>
          <td>
            8/5
          </td>
          <td>
            12/6
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="has-text-weight-bold">Roadmap</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Heatmaps *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Event (click, hover, navigation) *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Bugs reporting *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Real time Notifications *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Screen view *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Sandbox *</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <div>Sandbox Data retention</div>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <div>* WIP feature (not yet released). Please contact us if you need more information about product roadmap.
        </div>
      </div>
      <p class="control has-text-centered pt-5">
        <%= link_to(contact_path, class: "button is-link is-info is-bold") do %>
          ONG Startup 50% cut off
        <% end %>
        <%= link_to(contact_path, class: "button is-link is-info is-bold") do %>
          Need Custom features , let's talk
        <% end %>
      </p>
    </div>
  </div>

</section>