<section class="hero" id="product">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a>Heatmaps</a></li>
      <li><a>Point of interests</a></li>
      <li><a>Unusable regions</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
  <div class="hero is-fullheight-with-navbar container">
    <section class="tab-content">Pictures content</section>
    <section class="tab-content">Music content</section>
    <section class="tab-content">Videos content</section>
    <section class="tab-content">Documents content</section>
  </div>
</section>
<script>
    let tabsWithContent = (function () {
        let tabs = document.querySelectorAll('#product li');
        console.log(tabs);
        let tabsContent = document.querySelectorAll('.tab-content');

        let deactvateAllTabs = function () {
            tabs.forEach(function (tab) {
                tab.classList.remove('is-active');
            });
        };

        let hideTabsContent = function () {
            tabsContent.forEach(function (tabContent) {
                tabContent.classList.remove('is-active');
            });
        };

        let activateTabsContent = function (tab) {
            tabsContent[getIndex(tab)].classList.add('is-active');
        };

        let getIndex = function (el) {
            return [...el.parentElement.children].indexOf(el);
        };

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                deactvateAllTabs();
                hideTabsContent();
                tab.classList.add('is-active');
                activateTabsContent(tab);
            });
        });
        tabs[0].click();
    })();
</script>