<section class="hero is-relative" id="demo">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a>Heatmaps</a></li>
      <li><a>Point of interests</a></li>
      <li><a>Unusable regions</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
  <div class="hero is-fullheight-with-navbar container">
    <section class="tab-content">Pictures content</section>
    <section class="tab-content">Music content</section>
    <section class="tab-content">Videos content</section>
    <section class="tab-content">Documents content</section>
  </div>
</section>