<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">is-two-fifth</div>
      <div class="column">
        <h4>About</h4>

      </div>
      <div class="column">
        <h4>Site Map</h4>

      </div>

      <div class="column">
        <h4>Legal</h4>

      </div>
      <div class="column">
        <h4>Contact</h4>

      </div>
    </div>
    <hr/>
    <div class="columns">
      <div class="column">
        <h4>About</h4>

      </div>
      <div class="column is-pulled-right	">
        Twitter
        linkedin
      </div>
    </div>
  </div>

</footer>