<% content_for :custom_css_assets do %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= extends :application do %>
  <%= render "includes/header_account" %>
  <div class="container">
    <%= yield %>
  </div>

<% end %>